.jumbotron{
  margin-bottom:4em;
  z-index: 1;
}

#mycarousel {
  z-index: -1;
}

#mycarousel img{
  filter: brightness(50%);
}


#mybuttons {
  position:absolute;
  transition: .5s ease;
  top: 50%;
  left: 50%;
 
}