.jumbotron{
  margin-bottom:4em;
  z-index: 1;
}

#mycarousel {
  z-index: -1;
}

#mycarousel img{
  filter: brightness(100%);
}


#mybuttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
 
}

.nav-link:hover {
  color: #fff!important;
}
